.todo-footer{
    width: 580px;
    height: 40px;
    display: flex;
    align-items: center;
    margin: 10px auto;
}

.btn-danger{
    width: 120px;
    height: 35px;
    background-color: #e06253;
    border: none;
    border-radius: 6px;
    font-size:  13px;
    flex-direction: row-reverse;
    margin-left: 340px;
}
.btn-danger:hover{
    background-color: #8f372d;
}
span{
    font-size: 14px;
}