.li{
    margin: 1px auto;
    width: 100%;
    height: 40px;
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    padding: 0 0px;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 6px;
}
.li .button{
    display: none;
    width: 64px;
    height: 35px;
    background-color: #e06253;
    border: none;
    border-radius: 6px;
    font-size:  16px;
}
.li:hover{
    background-color: rgb(207, 207, 207);
    border-radius: 6px;
}
.li:hover .button{
    display: block;
}   
.button:hover{
    background-color: #8f372d;

}

.li li{
    padding: 0 20px;
    font-size:  20px;    
}
.li li input{
    margin: 0 20px;
}